{% extends "index.html" %}

{% block mainView %}
    <svg id="mainView" width="840" height="380"></svg>
    <style>
        .link {
            stroke: #999;
            stroke-width: 1px;
        }
        .node rect {
            fill: #fff;
            stroke: #000;
            stroke-width: 1.5px;
        }
        .node text {
            font: 12px sans-serif;
        }
    </style>
    <script>
        var nodesGraph = JSON.parse("{{ vertices | escapejs }}");
        var linksGraph = JSON.parse("{{ edges | escapejs }}");

        var svg = d3.select("#mainView"),
            width = +svg.attr("width"),
            height = +svg.attr("height");

        var g = svg.append("g");

        var simulation = d3.forceSimulation(nodesGraph)
            .force("link", d3.forceLink(linksGraph)
                .id(function(d) { return d.ID; })
                .distance(2000)
            )
            .force("charge", d3.forceManyBody()
                .strength(-500)
            )
            .force("collide", d3.forceCollide(function(d) {
                return d.maxWidth / 2 + 10;
            }))
            .force("center", d3.forceCenter(width / 2, height / 2))
            .alphaDecay(0.01)
            .alphaMin(0.001);



        var link = g.append("g")
            .attr("class", "links")
            .selectAll("line")
            .data(linksGraph)
            .enter().append("line")
            .attr("class", "link");

        var node = g.append("g")
            .attr("class", "nodes")
            .selectAll("g")
            .data(nodesGraph)
            .enter().append("g")
            .attr("class", "node")
            .call(d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended));

        var tempText = svg.append("text").style("opacity", 0);

        node.each(function(d) {
            var textLines = [d.ID];
            for (var key in d.attributes) {
                if (d.attributes.hasOwnProperty(key)) {
                    textLines.push(key + ": " + d.attributes[key]);
                }
            }

            var maxWidth = 0;
            textLines.forEach(function(line) {
                tempText.text(line);
                var bbox = tempText.node().getBBox();
                maxWidth = Math.max(maxWidth, bbox.width);
            });

            var padding = 20;
            d.maxWidth = maxWidth + padding;
            d.height = 30 + textLines.length * 20 + 10; // Added space for line and padding
        });

        tempText.remove();

        node.append("rect")
            .attr("width", function(d) { return d.maxWidth; })
            .attr("height", function(d) { return d.height; })
            .attr("x", function(d) { return -d.maxWidth / 2; })
            .attr("y", function(d) { return -d.height / 2; });

        node.append("text")
            .attr("text-anchor", "middle")
            .attr("dy", "-0.5em")
            .attr("font-weight", "bold")
            .text(function(d) { return d.ID; });

        node.append("line")
            .attr("x1", function(d) { return -d.maxWidth / 2; })
            .attr("y1", function(d) { return 0.5; })
            .attr("x2", function(d) { return d.maxWidth / 2; })
            .attr("y2", function(d) { return 0.5; })
            .attr("stroke", "#000")
            .attr("stroke-width", 1);

        node.append("text")
            .attr("text-anchor", "middle")
            .attr("dy", "1.5em") // Adjust to position text below the line
            .selectAll("tspan")
            .data(function(d) {
                return Object.entries(d.attributes);
            })
            .enter().append("tspan")
            .attr("x", 0)
            .attr("dy", "1.2em")
            .text(function(d) { return d[0] + ": " + d[1]; });

        simulation
            .nodes(nodesGraph)
            .on("tick", ticked);

        simulation.force("link")
            .links(linksGraph);

        function ticked() {
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node
                .attr("transform", function(d) {
                    return "translate(" + d.x + "," + d.y + ")";
                });
        }

        function dragstarted(event, d) {
            if (!event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(event, d) {
            d.fx = event.x;
            d.fy = event.y;
        }

        function dragended(event, d) {
            if (!event.active) simulation.alphaTarget(0);
            d.fx = null;
            d.fy = null;
        }

        var zoom = d3.zoom()
            .scaleExtent([0.05, 4])
            .on("zoom", function(event) {
                g.attr("transform", event.transform);
            });

        svg.call(zoom);

    </script>
{% endblock %}
