<!DOCTYPE html>
<html>
<head>
    <title>Filmoteka</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <div id="side-bar" style="display: flex;">
        <div id="top-left-bar" style="flex: 1;">
            <h1>FILMOTEKA</h1>
            <button>Block View</button>
            <div id="tree-view">
                Tree View
            </div>
            <div id="bird-view">
                Bird View
            </div>
        </div>
        <div style="flex: 2;">
            <div>
                <input type="text" placeholder="File">
                <input type="text" placeholder="Search">
            </div>
            <div>
                <label>Filter</label>
                <input type="text">
                <select>
                    <option>==</option>
                    <option>></option>
                    <option>>=</option>
                    <option><</option>
                    <option><=</option>
                    <option>!=</option>
                </select>
                <input type="text">
            </div>
            <div id="applied-queries">
                Applied Queries
            </div>
            <div id="block-view">
                Block View JSON
            </div>
        </div>
    </div>
</body>
</html>