<!DOCTYPE html>
<html>
<head>
    <title>Filmoteka</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}"/>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{% static 'treeView.js' %}"></script>
    <script src="{% static 'index.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'birdView.js' %}"></script>
</head>
<body>
    <div class="container">
        <!-- Left panel -->
        <div class="left-panel">
            <div class="graph-visualizer">
                <strong>Filmoteka</strong>
            </div>
            <div class="tree-view">
                <strong>Tree View</strong>
                <div class="tree-item">
                    <ul id="treeView"></ul>
                </div>
            </div>
            <div class="bird-view">
                <strong>Bird View</strong>
                <svg id="birdView"></svg>
            </div>
        </div>

        <div class="right-panel">
            <div class="toolbar">
                <input type="text" id="file-input" placeholder="File:" />
                <input type="text" id="search-input" placeholder="Search:" />
            </div>
            <div class="filter-bar">
                <strong>Filter: </strong>
                <select id="attribute-select">

                </select>
                <select id="operator-select">

                </select>
                <input type="text" id="filter-value" placeholder="Enter filter value"/>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
            <div class="applied-queries">
                <!-- Display applied queries here if necessary -->
            </div>
            <div class="main-view">
                <div class="graph" style="border: 1px solid black; height: 100%;">
                    {% block mainView %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
